@import '../_variables';

.Cities {
    display: flex;
    flex-wrap: wrap;
}

.City {
    position: relative;
    box-sizing: border-box;
    width: percentage(1/5);
    color: $color-brand-secondary;
    text-align: center;
    cursor: pointer;

    &-content {
        background: white;
        transition: background 200ms linear;
        position: absolute;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &:before {
        content: '';
        float: left;
        padding-top: 100%;
    }

    &-title {
        margin-bottom: -3px;
    }

    &-infos {
        margin-bottom: 20px;
    }

    &-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        border: 1px solid $color-grey;
        background-color: white;
        transition: all 200ms linear;
        &:after {
            content: '';
            display: block;
            border: 2px solid $color-grey;
            width: 12px;
            height: 20px;
            transform: rotate(46deg) skewX(10deg);
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            margin-bottom: 9px;
        }
    }

    &.is-selected {
        .City-content {
            background: $color-brand-secondary;
            color: white;
        }

        .City-checkbox {
            background-color: $color-brand;
            border-color: $color-brand;
            &:after {
                border-color: white;
            }
        }
    }
}
