.Cities {
  display: flex;
  flex-wrap: wrap; }

.City {
  position: relative;
  box-sizing: border-box;
  width: 20%;
  color: #0d4457;
  text-align: center;
  cursor: pointer; }
  .City-content {
    background: white;
    transition: background 200ms linear;
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .City:before {
    content: '';
    float: left;
    padding-top: 100%; }
  .City-title {
    margin-bottom: -3px; }
  .City-infos {
    margin-bottom: 20px; }
  .City-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #acacac;
    background-color: white;
    transition: all 200ms linear; }
    .City-checkbox:after {
      content: '';
      display: block;
      border: 2px solid #acacac;
      width: 12px;
      height: 20px;
      transform: rotate(46deg) skewX(10deg);
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      margin-bottom: 9px; }
  .City.is-selected .City-content {
    background: #0d4457;
    color: white; }
  .City.is-selected .City-checkbox {
    background-color: #f0946e;
    border-color: #f0946e; }
    .City.is-selected .City-checkbox:after {
      border-color: white; }
