.CityDetail {
    display: flex;
    padding-top: 60px;
    &-content {
        width: 40%;
        text-align: center;
        position: fixed;
        &-subtitle {
            text-transform: uppercase;
        }
        &-description {
            padding: 0 60px;
        }
    }
    &-venues {
        width: 60%;
        margin-left: auto;
    }
}
