@import '_variables';

.App {
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.App-logo {
    margin-top: 24px;
}

.App-header {
    padding-top: 60px;
    margin-bottom: 48px;
}

.App-nav {
    display: flex;
    margin-bottom: 48px;
    a {
        margin-right: 20px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.App-body {
}

.App-title {
    font-size: 1.5em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
