body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  background-color: #f0946e;
  color: white; }

strong {
  font-weight: 400; }

h1 {
  font-family: 'Eczar', serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 2px;
  margin: 0 0 6px 0; }

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  margin: 0 0 12px 0; }

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  margin: 0; }

h4 {
  font-family: 'Eczar', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 2px;
  margin: 0 0 12px 0; }

.TextHeading--secondary {
  color: #0d4457; }

a {
  color: white;
  transition: color 200ms linear;
  cursor: pointer; }
  a:hover {
    color: #0d4457; }
